---
import Layout from "../layouts/Layout.astro";
import usesData from "../data/uses.json";
---

<Layout
  title="Musikstudio Ziebart"
  description="stadt nürnberg: musikstudio ziebart, online-musikunterricht, telefon 0911/6320890, ich gebe musikunterricht aller altersklassen."
  keywords="musikunterricht, music lessons, online musikunterricht"
>
  <h1>MUSIKUNTERRICHT</h1>
  <article class="conteneur">
    <section class="marchandise marchandise-1">
      <h2>Music Lessons</h2>
      <p>HERZLICH WILLKOMMEN</p>
      <br />
      <p>Ich biete zusätzlich zu dem bisherigen Präsenzunterricht einen</p>
      <h2>Online-Musikunterricht</h2>
      <p>
        an. Dieser wird über das Streaming Programm Skype oder Zoom gemacht. Die
        Preise und Konditionen sind dieselben als beim Präsenzunterricht.
      </p>
      <p>
        <small
          >Hinweis: Für alle Handy Benutzer. Ganz oben rechts befindet sich ein
          Button mit dem Namen "Invert". Dies ist der Darkmode falls die
          Sonneneinstrahlung zu stark ist. Außerdem ist diese Website eine Progressive
           Webapplikation, kurz PWA. Viele Firmen gehen jetzt dazu über. Oben kommt so ein 
           Buttom zum installieren. Man kann also diese Website auf seinem Desktoprechner 
           oder auf einem Smartphone installieren. Diese App oder Website kann man dann offline nutzen. Die 
           App braucht nur 154 kB Speicher. Nicht installieren geht aber auch! Außerdem kann man 
           sie wieder problemlos deinstallieren. Das Betriebssystem IOS von Apple ist davon ausgeschlossen!!!</small
        >
      </p>
      <p>
        Das Musikstudio wurde 1984 gegründet. Ich gebe Musikunterricht aller
        Musikstilrichtungen von Klassik bis Pop und auch Jazz! Das
        Unterrichtshonorar ist bei allen Instrument dasselbe. Oft werde ich
        gefragt mit wieviel Jahren soll man denn anfangen zum musizieren? Also
        frühestens ab der 2. Klasse ist es ein ganz gutes Alter meine ich. Bei
        Blockflöte kann man vielleicht noch ein bißchen früher anfangen.
      </p>
      <p>
        Musik spielen ist ein interressantes Hobby für jung und alt und
        vielleicht macht es ja der eine oder die andere einmal zum Beruf?
        Außerdem führt das Musizieren oder Singen weg von der Konsumierung und
        führt zu eigenen Kreativitäten! Ich freue mich auf Ihren Besuch oder
        Anruf!
      </p>
      <h2>Ensemble</h2>
      <hr />
      <p>
        Die erworbenen Kenntnisse kann man noch in unserer Schülerband
        vertiefen. Diese besteht aus Bass, Schlagzeug, Gitarre und Gesang.
        Manchmal auch nur aus zwei Gitarristen. Es werden hier vornehmlich
        Popsongs gespielt.
      </p>
      <hr />
      <br />
      <h2>INSTRUMENTAL UNTERRICHT</h2>
      <p>Ich gebe für folgende Instrumente Unterricht:</p>
      <h2>Naturinstrumente</h2>
      <ul>
        <li>
          <a href="/klavierunterricht/" class="link-blue">[Klavier]</a>
        </li>
        <li>
          <a href="/akkordeon-unterricht/" class="link-blue">[Akkordeon]</a>
        </li>
        <li>
          <a href="/gitarrenunterricht/" class="link-blue">[Konzertgitarre]</a>
        </li>
        <li>
          <a href="/saxophonunterricht/" class="link-blue">[Saxophon]</a>
        </li>
        <li>
          <a href="/klarinettenunterricht/" class="link-blue">[Klarinette]</a>
        </li>
        <li>
          <a href="/leistungen/" class="link-blue">[Querflöte]</a>
        </li>
        <li>Blockflöte</li>
        <li>
          <a href="/banjounterricht/" class="link-blue">[5-string Banjo]</a>
        </li>
        <li>Bongos</li>
      </ul>
      <h2>Elektromechanische Instrumente</h2>
      <ul>
        <li>
          <a href="/keyboardunterricht/" class="link-blue">[Keyboard]</a>
        </li>
        <li>
          <a href="/e-gitarrenunterricht/" class="link-blue">[E-Gitarre]</a>
        </li>
        <li>Jazz Guitar</li>
        <li>Jazzharmonielehre</li>
        <li>
          <a href="/e-bassunterricht/" class="link-blue">[Bass]</a>
        </li>
      </ul>
      <br class="clear" />
      <br />
    </section>
    <section class="marchandise marchandise-2">
      <h2>Kostenlose Probestunde</h2>
      <p>
        Probieren Sie hier Ihr Lieblingsinstrument einfach mal aus. Klicken Sie
        auf den Link:
        <a href="../recaptchav3/contact.html" target="_blank" class="link-blue"
          ><b>Probetermin!</b>
        </a>
      </p>
      <p>
        Anmeldung zu einem kostenlosen Probeunterricht. Klicken Sie
        auf den Link:
        <a href="/contact/" target="_blank" class="link-blue"
          ><b>Probetermin!</b>
        </a>
      </p>
      <hr />
      {
        usesData.map((uses) => (
        <>
          <h2>{uses.title}</h2>
          <ul>
            {uses.elements.map((element) => (
              <li>
                <a href={element.link} target="_blank" 
                class="link-blue">{element.title}</a>
                <span class="text-white">{element.comment}</span>
              </li>
            ))}
          </ul>
        </>
        )) 
      }
      <p>
        Auf meinem YouTube Kanal ist f&uuml;r alle Hammond Fans was dabei! Auch E-Gitarristen und
        Akustische Gitarre kommen auf ihre Kosten. Übrigens das klassische Klavier ist
        bei den Menschen immer noch hoch im Kurs!
      </p>
      <hr />
      <h2>Kontakt</h2>
      <p>
        Musikstudio Ziebart <br />Gunzenhausener Str. 20 <br />90451 Nürnberg
      </p>
      <p>Staatl. anerkannter Musiklehrer</p>
      <p>
        <a
          href="https://www.musikstudio-ziebart.de/recaptchav3/contact.html"
          target="_blank"
          class="link-blue"
          ><b>Kontaktformular</b>
        </a>
      </p>
      <p>
        Telefon:
        <a href="tel:+499116320890" class="link-blue">[+49 (0)911 6320890]</a> 0911/6320890
      </p>
      <p>
        eMail:&nbsp;
        <a
          href="mailto:postmaster@musicstudio-ziebart.de"
          class="link-blue"
          onfocus="this.blur()"
          >postmaster@musicstudio-ziebart.de
        </a>
      </p>
      <p>
        Facebook:&nbsp;
        <a
          href="https://www.facebook.com/Musikstudio.Ziebart"
          class="link-blue"
          target="_blank"
          >[Musikstudio.Ziebart]
        </a>
      </p>
      <p>
        <a
          href="https://maps.google.de/maps?ie=UTF8&cid=10230175189141752103&q=Musikschule+Ziebart&iwloc=A&gl=DE&hl=de"
          target="top"
          class="link-blue"
          >[Standortansicht im Stadtplan!]
        </a>
      </p>
      <hr />
      <p>ÖFFNUNGSZEITEN:</p>
      <p>Montag - Freitag 14.00 - 19.00 Uhr</p>
      <hr />
      <br />
      
      <picture>
        <source srcset="/images/rudi-wide.webp" media="(min-width: 600px)" />
        <img
          src="/images/rudi-narrow.webp"
          width="320"
          height="240"
          alt="Rudi"
        />
      </picture>
      <hr />
      
      <ul>
        <li><a href="/faq/" class="link-blue">[FAQ]</a></li>
        <li><a href="/download/" class="link-blue">[Download]</a></li>
        <li><a href="/impressum/" class="link-blue">[Impressum]</a></li>
      </ul>
      <p>
        Erstellt mit dem Framework <a
          href="https://astro.build"
          class="link-blue">{Astro.generator}</a>
      </p>    
    </section>
  </article>
</Layout>

<style>
  /* ANCHOR Hauptseite */
  .conteneur {
    color: var(--color-white);
    background-color: var(--color-black);
    border: 0px solid black;
    align-content: space-between;
    width: 94vw;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  /* Container Inhalt */
  .marchandise {
    padding: 10px 20px;
  }

  /* Kind Elemente */
  .marchandise-1 {
    flex: 2;
  }

  .marchandise-2 {
    flex: 1;
  }

  .conteneur ul li {
    color: var(--color-white);
    background-color: var(--color-black);
    height: 3rem;
    box-shadow: 2px 2px 5px #666;
    margin-top: 15px;
    padding: 0.3rem 1.875rem;
    font-size: large;
    list-style-type: none;
  }

  .conteneur img {
    width: 90%;
    height: auto;
    max-width: 100%;
    margin-left: 0%;
    box-shadow: 2px 2px 5px #666;
  }

  a {
    text-decoration: none;
  }
</style>
